Implementation/BenignTestData
Implementation/samples
Implementation/disassembler_helper_files
dissassembler/output.csv
dissassembler/temp_output.txt
disassembler/output.csv
disassembler/temp_output.txt
Implementation/output.csv
Implementation/temp_output.txt
Implementation/__pycache__/disassembler.cpython-39.pyc
Implementation/temp_output.txt
Implementation/functions.txt
disassembler_opcodes/2022_ransom_samples
disassembler_opcodes/test_asd
disassembler_opcodes/test_packed
2021_ransom_samples_aykut
disassembler_opcodes/_pycache_
disassembler_opcodes/disassembler_helper_files/output_thread0.csv
disassembler_opcodes/disassembler_helper_files/output_thread1.csv
disassembler_opcodes/disassembler_helper_files/output_thread2.csv
disassembler_opcodes/disassembler_helper_files/output_thread3.csv
disassembler_opcodes/disassembler_helper_files/output_thread4.csv
disassembler_opcodes/disassembler_helper_files/output_thread5.csv
disassembler_opcodes/disassembler_helper_files/output_thread6.csv
disassembler_opcodes/disassembler_helper_files/output_thread7.csv
disassembler_opcodes/disassembler_helper_files/temp_output0.txt
disassembler_opcodes/disassembler_helper_files/temp_output1.txt
disassembler_opcodes/disassembler_helper_files/temp_output2.txt
disassembler_opcodes/disassembler_helper_files/temp_output3.txt
disassembler_opcodes/disassembler_helper_files/temp_output4.txt
disassembler_opcodes/disassembler_helper_files/temp_output5.txt
disassembler_opcodes/disassembler_helper_files/temp_output6.txt
disassembler_opcodes/disassembler_helper_files/temp_output7.txt
DikeDataset-main
windows_benign_exe_files
dataset_benign_aykut
disassembler_opcodes/disassembler_helper_files
BenignTestData/
RansomwareTestData/
RansomwareTestData
BenignTestData
RansomwareTestData
BenignTestDataold
RansomwareTestDataold
7c3bae4c73aeba07a27b1a1ae547566e85f03f9a
